@model SignalR.Models.Beer

<form asp-controller="Home" asp-action="AddBeer" method="post">
    Nombre:<input asp-for="Name" type="text" /><br />
    Marca:<input asp-for="Brand" type="text" /><br />
    <button type="submit">Enviar</button>
</form>