<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LeerDatosPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <LeerDatosPC.Properties.Settings>
			<setting name="TDConector_WUService_WesternUnion_Service_H2H"
                serializeAs="String">
				<value>https://wugateway2pi.westernunion.net</value>
			</setting>
			<setting name="ws" serializeAs="String">
				<value>https://wugateway2pi.westernunion.net</value>
			</setting>
			<setting name="TDConector_MEX06_SMV_SendmoneyValidation_Service_H2H"
                serializeAs="String">
				<value>https://wugateway2pi.westernunion.net</value>
			</setting>
			<setting name="TDConector_MEX06_SMSTORE_SendMoneyStore_Service_H2H"
                serializeAs="String">
				<value>https://wugateway2pi.westernunion.net</value>
			</setting>
        </LeerDatosPC.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthenticationUrl" useDefaultWebProxy="false" proxyAddress="URI">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings></system.serviceModel>
</configuration>